<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbConnectionString" value="server='db-primary';uid='db_user';pwd='$#vacation#$';"/>
    <add key="Log_Directory" value="c:\Logs\"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>